/* CSS pour toutes les body */
body{
  text-align: center;
  background-image:url("https://wallpapercave.com/wp/QV0fiMX.jpg");
}

/* Boutons dans la première page */
/* le boutton des année 1 a 3 */
#boutton1-3{
  /* définit la position de la boite */
  margin-left: -4%;
  margin-top: 25px;
  position: fixed;
  /* change le texte dans la boite */
  font: bold 20px Arial;
  text-decoration: none;
  /* change la couleur de la boite */
  background-color: rgba(255, 238, 0, 0.568);
  color: #000000;
  /* les transitions et le padding de la boite */
  padding: 12px 30px 15px 30px;
  border: 2px solid black;
  float: center;
  transition: transform .2s;
}
/* Fait que le bouton s'aggradisse de  x 1.5 */
#boutton1-3:hover{
  transform: scale(1.5);
}

/* le boutton des année 4 a 6 */
#boutton4-6{
  /* définit la position de la boite pour qu'elle soit de bonne taille */
  margin-left: -4%;
  margin-top: 75px;
  position: fixed;
  /* change le text de la boite */
  font: bold 20px Arial;
  text-decoration: none;
  /* change la couleur de la boite */
  background-color: rgba(39, 93, 243, 0.281);
  color: #000000;
  /* les transitions et le padding de la boite */
  padding: 12px 30px 12px 30px;
  border: 2px solid black;
  border-spacing: 20px;
  float: center;
  transition: transform .2s;
}
/* Fait que le bouton s'aggrandisse de x 1.5 */
#boutton4-6:hover{
  transform: scale(1.5);
}

/* le boutton des années 7 et 8 */
#boutton7-8{
  /* définit la position de la boite pour qu'elle soit de bonne taille */
  margin-left: -4%;
  margin-top: 122px;
  position: fixed;
  /* change le text de la boite */
  font: bold 20px Arial;
  text-decoration: none;
  /* change la couleur de la boite */
  background-color: rgba(253, 4, 4, 0.589);
  color: #000000;
  /* les transitions et le padding de la boite */
  padding: 12px 30px 12px 30px;
  border: 2px solid black;
  border-spacing: 20px;
  float: center;
  transition: transform .2s;
}
/*  Fait que le bouton s'aggrandisse de x 1.5 */
#boutton7-8:hover{
  transform: scale(1.5);
}

/* checkboxes pour choisir les operations */
input[type='checkbox'] {
  cursor: pointer;
  -webkit-appearance: none;
  /* taille de la boite */
  width:30px;
  height:30px;
  /* couleur de la boite */
  background: lightblue;
  border-radius:5px;
  border:2px solid rgb(0, 0, 0);
}
/* si la personne click le checkbox, sa ajoute un crochet dedans */
input[type='checkbox']:checked:after{
  content: "✔️";
  font-size: 150%; 
}

/* Boutons pour le nombre de questions */
/* bouttons pour options de 5 questions possibles */
#numDeQust5{
  /* définit la position de la boite pour qu'elle soit de bonne taille */
  text-align: center;
  margin-left: -20%;
  margin-top: 150px;
  position: fixed;
  cursor: pointer;
  /* change le texte de la boite */
  font: bold 20px Arial;
  text-decoration: none;
  /* change la couleur de la boite */
  background-color: rgba(253, 4, 4, 0.589);
  color: #000000;
  /* les transitions et le padding de la boite */
  padding: 40px 92px 40px 92px;
  border: 2px solid black;
  transition: transform .2s;
}
/* bouttons pour options de 10 questions possibles */
#numDeQust10{
  /* définit la position de la boite pour qu'elle soit de bonne taille */
  margin-left: -6%;
  margin-top: 150px;
  position: fixed;
  cursor: pointer;
  /* change le text de la boite */
  font: bold 20px Arial;
  text-decoration: none;
  /* change la couleur de la boite */
  background-color: rgba(253, 4, 4, 0.589);
  color: #000000;
  /* les transitions et le padding de la boite */
  padding: 40px 90px 40px 90px;
  border: 2px solid black;
  transition: transform .2s;       
}
/* bouttons pour options de 15 questions possibles */
#numDeQust15{
  /* définit la position de la boite pour qu'elle soit de bonne taille */
  margin-left: 8.5%;
  margin-top: 150px;
  position: fixed;
  cursor: pointer;
  /* change le text de la boite */
  font: bold 20px Arial;
  text-decoration: none;
  /* change la couleur de la boite */
  background-color: rgba(253, 4, 4, 0.589);
  color: #000000;
  /* les transitions et le padding de la boite */
  padding: 40px 90px 40px 90px;
  border: 2px solid black;
  transition: transform .2s;
}
/*  Fait que le bouton s'aggrandisse de x 1.5 */
#numDeQust5:hover{
  transform: scale(1.5);
}
/*  Fait que le bouton s'aggrandisse de x 1.5 */
#numDeQust10:hover{
  transform: scale(1.5);
}
/*  Fait que le bouton s'aggrandisse de x 1.5 */
#numDeQust15:hover{
  transform: scale(1.5);
}

/* bouttons pour commencer */
#Commence {
  /* définit la position de la boite pour qu'elle soit de bonne taille */
  margin-left: -14.5%;
  margin-top: 300px;
  position: fixed;
  cursor: pointer;
  /* change le texte de la boite */
  font: 90px Jazz LET, fantasy;
  text-decoration: none;
  /* change la couleur de la boite */
  color: rgb(255, 255, 255);
  background: rgb(70, 86, 224);; 
  /* les transitions et le padding de la boite */
  padding: 2px 6px 2px 6px;
  border: 2px solid black;
  transition: transform .2s;
}
/*  Fait que le bouton s'aggrandisse de x 1.5 */
#Commence:hover{
  transform: scale(1.5);
}

/* code qui met le boutton pour rettourner a l'accueuil */
#RetourAccueil{
  /* définit la position de la boite pour qu'elle soit de bonne taille */
  left: 5%;
  position: fixed;
  bottom: 2%;
  cursor: pointer;
  /* change le text de la boite */
  font: bold 20px Arial;
  text-decoration: none;
  /* change la couleur de la boite */
  background-color: rgba(0, 209, 17, 0.568);
  color: #000000;
  /* les transitions et le padding de la boite */
  padding: 15px 30px 15px 30px;
  border: 2px solid black;
}
/* boutton pour retourner a la page precedente */
#PagePrecedente{
  /* définit la position de la boite pour qu'elle soit de bonne taille */
  margin-left: -7%;
  position: fixed;
  bottom: 10%;
  cursor: pointer;
  /* change le text de la boite */
  font: bold 20px Arial;
  text-decoration: none;
  /* change la couleur de la boite */
  background-color: rgba(0, 162, 255, 0.623);
  color: #000000;
  /* padding de la boite */
  padding: 2px 6px 2px 6px;
  border: 2px solid black;
}

#pasBonneReponse{
  font-size: 200px;
}

#submit {
  display: none;
}

#quantity {
  /* la grosseur de *quantité* */
  width: 50px;
  display: none;
}

/* bouton pour soumettre les choix */
#soumettreChoix {
/* couleur du bouton */
  background-color: #4CAF50;
  color: white;
  border-style: 2px double black;
/* size et position du bouton */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
/* taille de la boite */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* le boutton pour recommencer le jeux */
#recommencerJeux {
  /* couleur et apparence */
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  /* le size du boutton */
  border-radius: 15px;
  box-sizing: border-box;
  /* la couleur du boutton */
  color: #3B3B3B;
  /* le display et le font family */
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  /* ce qui a a faire avec le font et la position */
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

#recommencerJeux:disabled {
  pointer-events: none;
}
/* boutton pour recommencer le jeux */
#recommencerJeux:hover {
  /* couleur du bouton */
  color: #fff;
  background-color: #1A1A1A;
  /* l'arriere plan du boutton et la transition */
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
/* boutton pour recommencer le jeux */
#recommencerJeux:active {
  /* donne l'aire d'etre cool */
  box-shadow: none;
  transform: translateY(0);
}
/* CSS pour le text finale apres repondre au questions */
#demontreTemp {
  /* ce qui a a faire avec le font */
  font-family: OCR A Std, monospace;
  font-size: 75px;
  /* la position de la boite */
  position: fixed;
  left: 10%;
  right: 10%;
  top: 20%;
  /* la couleur de la boite */
  color: rgb(0, 0, 0);
}
/* css pour la bonne ou mauvaise reponse */
#pasBonneReponse {
  /* position de la boite */
  position: relative;
  text-align: center;
  top: 70%;
  /* size de la boite */
  width: 80%;
  margin: 0 auto;
  /* size du text */
  font-size: 500%;
}

#montreNombreDeBonneReponse{
  /* défileftni-t l
  margin-top: 100px;a position de la boite pour qu'elle soit de bonne taille */
  left: 5px;
  top: 10px;
  position: absolute;
  /* change le text de la boite */
  font: bold 20px Arial;
  text-decoration: none;
  /* change la couleur de la boite */
  color: #000000;
  /* les transitions et le padding de la boite */
  padding: 12px 30px 12px 30px;
  transition: transform .2s;
  display: hidden;
}

#questionDiv{
  position: fixed;
  top: 17%;
  left: 42%;
  font-size: 50px;
  font-weight: bold;
}

#quantity{
  position: fixed;
  top: 25%;
  left: 40%;
  font-size: 39px;
  width: 100px;
}

#submit{
  position: absolute;
  top: 24.5%;
  left: 47%;
    /* couleur du bouton */
  background-color: #4CAF50;
  color: white;
  border-style: 2px double black;
  /* size et position du bouton */
  padding: 15px 40px;
  text-align: center;
  display: hidden;
  /* taille de la boite */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cahierDeCharges{
  position: absolute;
  top: 10px;
  margin-right: 80%;
  background-color: lightblue;
  font-size: 15px;
  text-align: left;
}

#RetourAccueil2 {
  /* définit la position de la boite pour qu'elle soit de bonne taille */
  left: 0%;
  position: relative;
  bottom: 0%;
  cursor: pointer;
  /* change le text de la boite */
  font: bold 20px Arial;
  text-decoration: none;
  /* change la couleur de la boite */
  background-color: rgba(0, 209, 17, 0.568);
  color: #000000;
  /* les transitions et le padding de la boite */
  padding: 15px 30px 15px 30px;
  border: 2px solid black;
}
#PseudoCode {
  text-align: left;
}

#MiseEssai{
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

#Entretien{
  margin-left: 20%;
  margin-right: 20%;
}